@{
    ViewBag.Title = "Posts";
}   
@section Scripts
{
    <script>
        (function () {
            var txt = "Some text from script";
            return txt;
        })()
    </script>
}

<h1>
        Post Index
    </h1>

    <p>

        <a href="@Url.RouteUrl("login")">Click Here</a> to Login!
    </p>

<p>
    @Html.RouteLink("Click here", "login") to Login!
</p>


